.image-header-section {
  background-image: url('/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-block-size: 40vh;
  position: relative;

  display: flex;
  justify-content: center;
  //align-items: center;

  @media (min-width: 60em) {
    background-image: url('/pattern-bg-desktop.png');
  }
}