.network-info {
  z-index: 1;
  display: flex;
  padding: 1rem;
  position: absolute;
  bottom: -1.75rem;
  left: 10%;
  right: 10%;

  & > * {
    width: 100%;
    border-left: 1px solid black;
    padding-left: 1rem;

    &:nth-child(1 of .col) {
      border-left: 0;
    }
  }

  @media (max-width: 40em) {
    flex-direction: column;
    text-align: center;
  }
  /*display: flex;
  gap: 4rem;
  position: relative;
  top: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  */

  small {
    letter-spacing: .1rem;
  }

  .ip-address, .region, .timezone, .isp {
    color: var(--black);
    word-wrap: break-word;
    font-weight: 500;
    font-size: 1.25rem;
  }
}