.network-info {
  z-index: 1;
  display: flex;
  padding: 1.5rem;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 11rem;

  @media (min-width: 40em) {
    padding: 1.75rem;
    padding-block-start: 2.5rem;
    padding-block-end: 2.5rem;
    left: 12%;
    right: 12%;
    top: 80%;
  }

  & > * {
    width: 100%;
    border-left: 1px solid var(--dark-gray);
    padding-left: 1rem;
    padding-right: 1rem;

    &:nth-child(1 of .col) {
      border-left: 0;
    }

    @media (max-width: 60em) {
      border-left: none;
    }
  }


  @media (max-width: 60em) {
    flex-direction: column;
    text-align: center;
  }

  small {
    letter-spacing: .1rem;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
  }

  .ip-address, .region, .timezone, .isp {
    color: var(--black);
    word-wrap: break-word;
    font-weight: 500;
    font-size: 1.5rem;

    @media (min-width: 40em) {
      font-size: 1.75rem;
    }
  }
}