.network-info {
  z-index: 1;
  display: flex;
  padding: 1rem;
  position: absolute;
  bottom: -1.75rem;
  left: 10%;
  right: 10%;

  & > * {
    width: 100%;
    border-left: 2px solid var(--dark-gray);
    padding-left: 1rem;

    &:nth-child(1 of .col) {
      border-left: 0;
    }

    @media (max-width: 40em) {
      border-left: none;
    }
  }

  @media (max-width: 40em) {
    flex-direction: column;
    text-align: center;
  }

  small {
    letter-spacing: .1rem;
  }

  .ip-address, .region, .timezone, .isp {
    color: var(--black);
    word-wrap: break-word;
    font-weight: 500;
    font-size: 1.25rem;
  }
}