:root {
  // COLORS
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --black: hsl(0, 0%, 5%);
}

.dark-gray {
  color: var(--dark-gray);
}

.very-dark-gray {
  color: var(--very-dark-gray);
}